/.classpath
/.gradle
/.settings
/.project
/bin
/build.gradle
/eclipse
/gradle
/gradlew
/gradlew.bat
/bin/
.project
.classpath
/config
/crash-reports
/logs
/saves
options.txt
usernamecache.json
/downloads
/Ascension-1.7.10/.gradle
/Ascension-1.7.10/bin
/Ascension-1.7.10/.settings
/Ascension-1.7.10/.project
/Ascension-1.7.10/.classpath
/Ascension-1.7.10/build.gradle
/Ascension-1.7.10/downloads
/Ascension-1.7.10/gradlew
/Ascension-1.7.10/gradle
/Ascension-1.7.10/gradlew.bat
/Ascension-1.8
/Ascension-1.7.10/logs
/Ascension-1.7.10/config
/Ascension-1.7.10/saves