/.classpath
/.gradle
/.settings
/.project
/bin
/build.gradle
/eclipse
/gradle
/gradlew
/gradlew.bat
/bin/
.project
.classpath
/config
/crash-reports
/logs
/saves
options.txt
usernamecache.json
/downloads
/Ascension-1.7.10
/Ascension-1.8/.gradle
/Ascension-1.8/.classpath
/Ascension-1.8/.settings
/Ascension-1.8/.project
/Ascension-1.8/gradle
/Ascension-1.8/gradlew
/Ascension-1.8/gradlew.bat
/Ascension-1.8/bin
/Ascension-1.8/build.gradle
/resources